{% extends 'urlshortener/base.html' %}

{% block body %}

<h1>KrowKaramel</h1>
<h2>Création d'un nouveau qr code</h2>
<form action="" method="POST">
  {% csrf_token %}
  <div>{{form.long_url}}</div>
  <button type="submit">
    Créer le qr Code
  </button>
</form>

<form action="" method="post">
  {% csrf_token %}
  <ul>
    <li>
      <div>{{form.long_url}}</div>
    </li>
    <li>
      <div>{{form.short_url}}</div>
    </li>
  </ul>
  <button type="submit">
    Créer le qr Code
  </button>

</form>

{% if new_url %}
<div>
  <h2>Your shortened Url</h2>
  <p>You can copy the Link below and share it with your friends</p>
  <p>{{new_url}}</p>
  <p><span>Previous URL:</span> {{long_url}}</p>
</div>
{% endif %}

<h2>liste des qr codes existants:</h2>
<table>
  <thead>
    <tr>
      <th>Short Url</th>
      <th>Long Url</th>
      <th>QR Code</th>
    </tr>
  </thead>
  <tbody>
    {% for url in url_list %}
    <tr>
      <th>{{url.short_url}}</th>
      <th>{{url.long_url}}</th>
      <th><img class="fit-picture" src={{url.qrcode}} alt="un QR Code"></th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}