{% extends 'urlshortener/base.html' %}

{% block body %}

<h1>URL Shortner Application</h1>
<form action="" method="POST">
  {% csrf_token %}
  <div>{{form.long_url}}</div>
  <button type="submit">
    Shorten
  </button>
</form>
{% if new_url %}

<div>
  <h2>Your shortened Url</h2>
  <p>You can copy the Link below and share it with your friends</p>
  <p>{{new_url}}</p>
  <p><span>Previous URL:</span> {{long_url}}</p>
</div>
{% endif %}

<table>
  <thead>
    <tr>
      <th>Short Url</th>
      <th>Long Url</th>
      <th>QR Code</th>
    </tr>
  </thead>
  <tbody>
    {% for url in url_list %}
    <tr>
      <th>{{url.short_url}}</th>
      <th>{{url.long_url}}</th>
      <th><img class="fit-picture" src={{url.qrcode}} alt="un QR Code"></th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}